<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header bg-info">
          <h2>User Login</h2>
        </div>
        <div class="card-body bg-light">
          <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
            <alert type="danger" *ngIf="loginError">
              Invalid username and password.
            </alert>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" ngModel #username="ngModel"
                name="username" class="form-control"
                placeholder="Enter your username"  required>
              <small class="text-danger font-italic h6"
                *ngIf="username.touched && !username.valid">
                  Please enter username.</small>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" ngModel #password="ngModel"
                name="password" class="form-control"
                placeholder="Enter your password" required>
              <small class="text-danger font-italic h6"
                *ngIf="password.touched && !password.valid">
                Please enter your password.</small>
            </div>

            <button type="submit" [disabled]="!loginForm.valid"
              class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
