<div class='container my-4'>
  <h1>Post Details</h1>
    <div class="spinner" *ngIf="isLoading">
      <div class="spinner-border text-primary"
        style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  <div class="row">
    <div class="col-12" *ngIf="!isLoading">
      <h2>{{post?.title}}</h2>
      <div *ngIf="post.author">
        <p class="post-author h5">Author: {{post.author.firstName + ' ' + post.author.lastName}}</p>
        <p *ngIf="post.author.id === userModel.id">
          <a class="btn btn-sm btn-info mr-2" [routerLink]="['/posts/edit/', post.id]" >Edit</a>
          <button class="btn btn-sm btn-danger" (click)="onDelete(post.id)">Delete</button>
          <alert type="danger" *ngIf="error">
            {{error}}
          </alert>
        </p>
      </div>
      <div class="post-body" [innerHTML]="post.content"></div>
      <a [routerLink]="['/posts']">Go Back</a>
    </div>
  </div>
</div>
