<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/posts']">Angular 9 Training</a>
    <button class="navbar-toggler" type="button" (click)="isHeaderCollapsed = !isHeaderCollapsed"
      aria-label="Toggle navigation" [attr.aria-expanded]="!isHeaderCollapsed"
      aria-controls="navbarText">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" [collapse]="isHeaderCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active" >Posts</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/create']" routerLinkActive="active" >Create Post</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active" >Signup</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <div class="btn-group" dropdown>
            <button id="button-animated" dropdownToggle type="button"
              class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-animated">
              Hi {{name}}! <span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><button class="dropdown-item" (click)="onLogout()">Logout</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
