<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header bg-info">
          <h2>Create Account</h2>
        </div>
        <div class="card-body bg-light">
            <form [formGroup]="signUpForm" (submit)="onSignUp()">
              <alert type="danger" *ngIf="errorMessage">
                {{errorMessage}}
              </alert>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control"
                  formControlName="username" placeholder="Enter your username" />

                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('required')">
                  Please enter your username.</small>

                  <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('minlength')">
                  Minimum length of username is 3.</small>

                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('maxlength')">
                  Maximum length of username is 8.</small>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                formControlName="password" placeholder="Enter your password" />

                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('required')">
                  Please enter your password.</small>

                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('minlength')">
                  Minimum length of password is 6.</small>

                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('maxlength')">
                  Maximum length of password is 12.</small>
              </div>

              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control"
                  formControlName="firstName" placeholder="Enter your first name." />
                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('firstName').touched && signUpForm.get('firstName').hasError('required')">
                  Please enter your first name.</small>
                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('firstName').touched && signUpForm.get('firstName').hasError('minlength')">
                  Minimum length of first name is 2.</small>
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control"
                  formControlName="lastName" placeholder="Enter your last name" />
                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('lastName').touched && signUpForm.get('lastName').hasError('required')">
                  Please enter your last name.</small>
                <small class="text-danger font-italic h6"
                  *ngIf="signUpForm.get('lastName').touched && signUpForm.get('lastName').hasError('minlength')">
                  Minimum length of last name is 2.</small>
              </div>
              <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Signup</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
