<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header bg-info">
          <h2>{{componentTitle}}</h2>
        </div>
        <div class="spinner" *ngIf="isLoading">
          <div class="spinner-border text-primary"
            style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="card-body bg-light" *ngIf="!isLoading">
          <h4 *ngIf="mode === 'edit' && post.author">Author: {{post.author?.firstName + " " + post.author?.lastName}}</h4>
          <form [formGroup]="postForm" (submit)="onSavePost()">
            <div class="form-group">
              <label for="username">Post Title <span class="small">(min 5 Chars)</span></label>
              <input type="text" id="username" formControlName="title"
                class="form-control"
                placeholder="Enter post title">
              <small class="text-danger font-italic h6"
                  *ngIf="postForm.get('title').touched && postForm.get('title').hasError('required')">
                  Please enter Post Title</small>
              <small class="text-danger font-italic h6"
                  *ngIf="postForm.get('title').touched && postForm.get('title').hasError('minlength')">
                  Minimum length for Post Title is 5.</small>
            </div>
            <div class="form-group">
              <label for="content">Post Content</label>
              <textarea rows="13" id="content" formControlName="content"
                class="form-control" placeholder="Enter post content"></textarea>
              <small class="text-danger font-italic h6"
                *ngIf="postForm.get('content').touched && postForm.get('content').hasError('required')">
                Please enter Post Content.</small>
            </div>
            <button type="submit" [disabled]="!postForm.valid || clicked" class="btn btn-primary mr-2">Save Post</button>
            <a [routerLink]="['/posts']" *ngIf="mode==='edit'">Go Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
