/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

.card-header {
  color: white;
}

.spinner {
  display: flex;
  justify-content: center;
}
