<div class="container my-4">
  <h1>Post Lists</h1>
  <div class="spinner" *ngIf="isLoading">
    <div class="spinner-border text-primary"
      style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading && posts?.length > 0">
    <div class="col-12" *ngFor="let post of posts; index as i">
      <p class="post-title h2">
        <a [routerLink]="['/posts/view/', post.id]">{{post.title}}</a>
      </p>
      <p class="post-author h5">Author: {{post.author.firstName + ' ' + post.author.lastName}}</p>
      <p *ngIf="post.author.id === userModel?.id">
        <a class="btn btn-sm btn-info mr-2" [routerLink]="['/posts/edit/', post.id]" >Edit</a>
        <button class="btn btn-sm btn-danger" (click)="onDelete(post.id)">Delete</button>
      </p>
      <div class="post-body" [innerHTML]="(post.content.length > 300) ?
         (post.content | slice:0:300) + ' ...' : post.content"></div>
      <hr />
    </div>
  </div>
  <div class="row my-5 justify-content-center" *ngIf="posts?.length === 0">
    <h2>No post yet.</h2>
  </div>
</div>
